body{
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
}

.header{
    background: #1f2937;
    min-height: 400px;
}

.head1{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}

.head2{
    display: flex;
    margin: 70px 200px 100px 200px;
    justify-content: space-between;
    align-items: center;
}
.header , .footer{
    justify-content: space-between;
}
/* .section{
    display: flex;
    flex:1;
} */

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display:flex;
    gap:30px;
}


.footer{
    background: #1f2937;
    height: 75px;
}

.imgfile{
    border: 3px solid dodgerblue;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin-bottom: 0;
}

.imgtext p{
    width: 160px;
    text-align: center;
    font-size: 18px;
    /* border:1px solid green; */
    margin-top:5px
}

.text1{
    color:#f9faf8;
    font-weight:bolder;
    font-size: 48px;
    max-width: 300px;
}

.texth, a {
    color:#e5e7eb;
    font-size: 18px;
    max-width: 400px;
}
.texth p{
    margin: 3px 0; 
}
.logo{
    color:#f9faf8;
    font-size: 24px;
    /* padding-top:10px; */
}

.place1 button{
    padding:7px 30px;
    border-radius: 6px;
    border:1px solid #1f2937;
    color: white;
    background:#3882f6;
    font-size: 16px;
}

.section3 {
    background: #3882f6 ;
    margin:100px 200px;
    padding:50px 120px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.shots{
    font-weight: bolder;
    font-size: 36px;
    color:#1f2937;
    text-align: center;
    margin: 35px 0;
}

.section2{
    background: #e5e7eb;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.bloq p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
    /* border:1px solid green; */
    margin-bottom: 10px;
}

.bloq{
   margin:100px 350px;
   /* border:1px solid green */
}

cite{
    font-weight: bolder;
    font-size:18px;  
    margin-left:330px;
    /* border:1px solid black;    */
}

/* SOLUTIONS */

.holder1{
    height:210px;
    width: 450px;
    border: 3px #222b38;
    color:whitesmoke;
    background: rgba(128, 128, 128, 0.562);
    border-style: none none ridge ridge;
    
}

.imgroups{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}
.text2{
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.text3{
    color: #e5e7eb;   
    font-size: 18px;
    font-weight: normal;
}


.button2 button{
    padding:5px 20px;
    border-radius: 5px;
    border:2px solid #e5e7eb;
    color: white;
    background:#3882f6;
    /* font-weight: bold; */
    font-size: 16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb
}